<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company Info</title>
</head>
<body>
<h2>Create a Form</h2>
<form>
    <input name="event_name" />
    <select>
        <option value="public">Event is available to everyone on the Internet</option>
        <option value="customer_only">The viewer must be registered with Y4OS to enter Event</option>
        <option value="password_protected">The viewer must enter password to enter Event</option>
    </select>
    <button>Create</button>
</form>
</body>
</html>